body{
    margin: 0;
    padding: 0;
    width:100vw;
}

.headdiv{
    display: flex;
    justify-content: space-between;
}

.a{
    text-decoration: none;
}

.login{
    /* padding: 10px; */
    display: flex;
    /* gap: 8vw; */
    /* justify-content: end; */
    /* align-items: flex-end; */
    /* align-content: flex-end; */
}