<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:replace="~{layout :: layout(~{::title}, ~{::section})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
</head>

<body>
    <section layout:fragment="section">
        <h1>Create User</h1>
                <a class="btn btn-primary mb-3" th:href="@{/students}">Students</a>
        
        <form method="post" th:object="${studentDTO}" th:action="@{/add-student}" novalidate>
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <input type="text" id="name" th:field="*{name}" class="form-control" required placeholder="Enter your name">
                <div th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" id="email" th:field="*{email}" class="form-control" required placeholder="Enter your email">
                <div th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="*{email}"></div>
            </div>

            <button type="submit" class="btn btn-success">Create</button>
        </form>
    </section>
</body>

</html>
