<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
      th:replace="~{layout :: layout(~{::title}, ~{::section})}">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User List</title>
</head>

<body>
    <section th:fragment="section">
        <h1>List of Users</h1>
        <a class="btn btn-primary mb-3" th:href="@{/add-user}">Add User</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>SI NO</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user, iterStat : ${users}">
                    <td th:text="${iterStat.count}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.password}"></td>
                    <td>
                        <a class="btn btn-warning btn-sm" th:href="@{/edit-user/{id}(id=${user.id})}">Edit</a>
                        <a class="btn btn-danger btn-sm" th:href="@{/delete-user/{id}(id=${user.id})}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</body>

</html>
