<!DOCTYPE html>
<html xmlns:th="http://thymleaf.org">
<head>
<title>Student List</title>
<style>
table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	border: 1px solid black;
	padding: 8px;
	text-align: left;
}

th {
	background-color: #f2f2f2;
}
</style>
</head>
<body>
	<h1>STUDENT LIST</h1>
	<a th:href="@{/add-student}">Add Student</a>
	<div th:if="${success}">
		<p th:text="${success}"></p>
	</div>
	<table>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Age</th>
			<th>Email</th>
			<th>Password</th>
			<th>Action</th>
		</tr>
		<tr th:each="student : ${students}">
			<td th:text="${student.id}"></td>
			<td th:text="${student.name}"></td>
			<td th:text="${student.age}"></td>
			<td th:text="${student.email}"></td>
			<td th:text="${student.password}"></td>
			<td>
				<a th:href = "@{/std-edit(id=${student.id})}">Edit</a>
				<a th:href="@{/std-delete(id=${student.id})}">Delete</a>
			</td>
		</tr>
	</table>
</body>
</html>
